body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height:  100vh;
}

.home-background{
    background-image: url('./images/header.jpeg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    z-index:-1; 
}

.home img{
    width: 320px;
    height: 300px;
    border-radius: 50%;
    margin-top: 30px;
} 

.home h1{
    font-family: 'Ubuntu', sans-serif;
    color:  #212529;
} 

.home h3{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0;
    margin-bottom: 200px;
    color:  #212529;
}

@media screen and (max-width: 1000px) {
    h1, h3{
      font-size: 20px;
    }
    #home img{
        width: 150px;
        height: 150px;
    }
  } 

@media screen and (max-width: 600px) {
    h1, h3{
      font-size: 10px;
    }
    #home img{
        width: 100px;
        height: 100px;
    }
  } 

  /* Navigation */

.navigation{
    background: #212529;
    padding: 15px;
} 

.nav-list{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: bold;
}

.navigation a{
    cursor: pointer;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
} 

.nav-list > .active {
    /* border-bottom: 2px solid #1248A5; */
    border-bottom: 2px solid white;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    
}

.section hr{
    color: #212529;
    background-color: #212529;
    width: 90vw;
    height: 10px;
}

/* skills */

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li{
    display: inline;
    padding: 10px 
}

.logo{
    width: 80px;
    height: 80px;
}

.logo-wide{
    width: 150px;
    height: 100px;
}



/* Projects */

.project{
    color: #212529;
    vertical-align: middle;
}

.project h1{
    margin-bottom: 40px;
}

.project h4{
    line-height: unset;
    vertical-align: center;
    height: 100%;
}
.fa-plus-circle{
    line-height: unset;
    color: rgba(0, 110, 255, 0.438);
}

.project button:focus{
    box-shadow: unset;
}

/* contact */

#contact{
    /* background-color: rgba(218, 211, 211, 0.473); */
    background-image: url('./images/trianglify1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info{
    width: 90vw;
}
